@{
    ViewData["Title"] = "联系人";
}
<style>
    .people .avatar { border-radius:50%; background-color:#e91e63; box-shadow:#888 0px 1px 7px; margin:0 10px 0 3px; padding:6px 10px; color:#fff; font-size:20px; height:40px; width:40px; display:inline-block; }
    .people li { width:50%; float:left; margin:10px 0 20px; list-style:none; font-size:18px }
    .people li .btn { margin-left:5px; padding:5px 12px }
    .wallet-name { padding:0; margin-bottom:10px }
    .people li span {background-color:#9e9e9e}
    .people li:nth-child(1) span {background-color:#e51c23 }
    .people li:nth-child(2) span {background-color:#e91e63 }
    .people li:nth-child(3) span {background-color:#9c27b0}
    .people li:nth-child(4) span {background-color:#673ab7}
    .people li:nth-child(5) span {background-color:#3f51b5}
    .people li:nth-child(6) span {background-color:#5677fc}
    .people li:nth-child(7) span {background-color:#03a9f4}
    .people li:nth-child(8) span {background-color:#00bcd4}
    .people li:nth-child(9) span {background-color:#009688}
    .people li:nth-child(10) span {background-color:#259b24}
    .people li:nth-child(11) span {background-color:#8bc34a}
    .people li:nth-child(12) span {background-color:#cddc39}
    .people li:nth-child(12) span {background-color:#ffeb3b}
    .people li:nth-child(14) span {background-color:#ffc107}
    .people li:nth-child(15) span {background-color:#ff9800}
    .people li:nth-child(16) span {background-color:#ff5722}
    .people li:nth-child(17) span {background-color:#9e9e9e}
    .people li:nth-child(18) span {background-color:#607d8b}
</style>

<h2 class="page-header">联系人</h2>
<div class="row">
    <ul class="col-sm-12 people">
        <li>
            <span class="avatar">陈</span>
            <a href="~/People/People?id=1"> 陈志同 </a>
        </li>
        <li>
            <span class="avatar">张</span>
            <a href="javascript:"> 张三 </a>
        </li>
        <li>
            <span class="avatar">李</span>
            <a href="javascript:"> 李四 </a>
        </li>
        <li>
            <span class="avatar">王</span>
            <a href="javascript:"> 王蜜桃 </a>
        </li>
        <li>
            <span class="avatar">王</span>
            <a href="javascript:"> 王蜜桃 </a>
        </li>
        <li>
            <span class="avatar">王</span>
            <a href="javascript:"> 王尼玛 </a>
        </li>
        <li>
            <span class="avatar">张</span>
            <a href="javascript:"> 张全蛋 </a>
        </li>
        <li>
            <span class="avatar">张</span>
            <a href="javascript:"> 张全蛋 </a>
        </li>
        <li>
            <span class="avatar">唐</span>
            <a href="javascript:"> 唐马儒 </a>
        </li>
        <li>
            <span class="avatar">唐</span>
            <a href="javascript:"> 唐马儒 </a>
        </li>
        <li>
            <span class="avatar">纸</span>
            <a href="javascript:"> 纸巾 </a>
        </li>
        <li>
            <span class="avatar">纸</span>
            <a href="javascript:"> 纸巾 </a>
        </li>
        <li>
            <span class="avatar">张</span>
            <a href="javascript:"> 张全蛋 </a>
        </li>
        <li>
            <span class="avatar">张</span>
            <a href="javascript:"> 张全蛋 </a>
        </li>
        <li>
            <span class="avatar">王</span>
            <a href="javascript:"> 王尼玛 </a>
        </li>
        <li>
            <span class="avatar">张</span>
            <a href="javascript:"> 张全蛋 </a>
        </li>
        <li>
            <span class="avatar">纸</span>
            <a href="javascript:"> 纸巾 </a>
        </li>
        <li>
            <span class="avatar">纸</span>
            <a href="javascript:"> 纸巾 </a>
        </li>
    </ul>
</div>




