@{
    ViewData["Title"] = "联系人";
}
<style>
    .people .avatar { border-radius: 50%; background-color:#e51c23; box-shadow:#888 0px 1px 7px; margin:0 10px 0 3px; padding: 6px 10px; color: #fff; font-size: 20px; height: 40px; width: 40px; display: inline-block; }
    .people .address { background-color:#f0f0f0; border-radius:4px; padding:6px 10px; letter-spacing:1px; width:50%; word-break:break-all; vertical-align:middle; display:inline-block  }

</style>

<h2 class="page-header">联系人详情</h2>

<div class="people">
    <span class="avatar">陈</span>
    <a href="~/People/People?id=1"> 陈志同 </a>
</div>
<br />
<div class="people">
    <span class="address">ANtiKnSnHhxzAMPVdGtW8Swfo6YymyPrPL</span>
    <button class="btn btn-info withripple">编辑</button>
    <button class="btn btn-danger withripple">删除</button>
</div>

<br />
<a href="~/People/PeopleList">返回联系人列表</a>



