.btn, .btn:focus
{
    outline: none;
    outline-style: none;
    box-shadow: rgba(0,0,0,0.38) 0px 1px 3px;
}

.form-horizontal label.control-label
{
    padding-top: 14px;
    font-size: 15px;
    font-weight: normal;
}

input.form-control,
input.form-control:hover
{
    border: 0;
    border-bottom: 1px solid #aaa;
    padding:6px 0;
    border-radius: 0;
    box-shadow: none;
}
input.form-control:focus
{
    border: 0;
    border-bottom: 2px solid #009688;
    padding:6px 0 5px 0;
    border-radius: 0;
    box-shadow: none;
}
.form-group
{
    margin-top:30px
}