@model AntSharesUI_Web_.Models.Account

@{
    ViewData["Title"] = "认证账户";
}

<div class="form-horizontal">
    <h2 class="page-header">认证账户</h2>

</div>

<div>
    <a asp-action="Index">返回账户列表</a>
</div>
