@model AntSharesUI_Web_.Models.Advanced

@{
    ViewData["Title"] = "签名";
}
<style>
    .row div.col-sm-6 { padding-bottom: 10px; }
    .check-label { line-height:2.3 }
    #check_input { display:none }
    .alert-danger { padding:5px 10px; margin:10px 0; border-radius:4px }
</style>

<form method="post" class="form-horizontal" autocomplete="off">
    <fieldset>
        <h2 class="page-header">注册资产</h2>
        <h5>选择资产类型</h5>
        <div class="row">
            <div class="col-sm-6">
                <select class="form-control">
                    <option value="1">股权</option>
                    <option value="2">货币</option>
                    <option value="3">其它</option>
                </select>
            </div>
        </div>

        <h5>资产名称</h5>
        <div class="row">
            <div class="col-sm-6">
                <input class="form-control" placeholder="输入资产名称" />
            </div>
        </div>

        <h5>总量限制</h5>
        <div class="row">
            <div class="col-sm-2">
                <label class="check-label"><input type="checkbox" onchange="show_input()" class="form-control" />总量有限</label>
            </div>
            <div id="check_input" class="col-sm-4">
                <input class="form-control" type="number" placeholder="输入总量" />
            </div>
        </div>

        <h5>选择管理员地址</h5>
        <div class="row">
            <div class="col-sm-6">
                <select class="form-control">
                    <option value="1">AbcdXweW6trsVwcBSUYrK69u4cBhDg4ZJF</option>
                    <option value="2">ANttyFkVZxGh93TmjgkiFe1TgS3csGfhJD</option>
                    <option value="3">ANTiGwJG34ifXREByGufja75DF3b8Hzcdm</option>
                </select>
                <div class="alert-danger">注册资产将消耗您10000小蚁币</div>
            </div>
        </div>
        <button class="btn btn-raised btn-success">确认注册</button>
    </fieldset>
</form>

<div class="help-block">
    注册资产用作注册一种新的用户发行资产。用户可以自己定义资产的类型、名称、总量等，并指定资产的管理员账户。创设资产需要消耗一定数量的小蚁币作为附加服务费。 
    <a href="javascript:">了解更多</a>
    <a class="x" href="javascript:" onclick="hide_note(this)" title="隐藏说明">x</a>
</div>

@section Scripts {
    <script>
        function show_input()
        {
            $("#check_input").toggle();
        }
    </script>
    <script src="~/lib/jquery-validation/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
