@model AntSharesUI_Web_.Models.Advanced

@{
    ViewData["Title"] = "签名";
}
<style>

</style>
<form method="post" class="form-horizontal" autocomplete="off">
    <fieldset>
        <h2 class="page-header">文本签名</h2>
        <div class="row">
            <div class="col-sm-10">
                <textarea rows="5" class="form-control withripple" placeholder="要签名的文本"></textarea>
                <br />
                <h5>选择用哪个地址的私钥进行签名</h5>
                <select class="form-control">
                    <option value="1">AbcdXweW6trsVwcBSUYrK69u4cBhDg4ZJF</option>
                    <option value="2">ANttyFkVZxGh93TmjgkiFe1TgS3csGfhJD</option>
                    <option value="2">ANTiGwJG34ifXREByGufja75DF3b8Hzcdm</option>
                </select>
            </div>
        </div>
        <br />
        <button class="btn btn-raised btn-success">签名</button>
    </fieldset>
</form>

@section Scripts {
    <script src="~/lib/jquery-validation/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
