@{
    ViewData["Title"] = "Index";
}
<style>
    .contract { padding: 0; }
    .contract li { margin-bottom: 10px; list-style: none; }
    .contract li span { background-color: #f0f0f0; border-radius: 4px; padding: 6px 10px; letter-spacing: 1px; width: 50%; vertical-align: middle; word-break:break-all; display: inline-block; }
    .contract li .btn { margin-left: 5px; padding:5px 12px }
    .contractdiv { padding:0; margin-bottom:10px; display:none }
</style>
<h2 class="page-header">合约管理</h2>
<div class="row nomargin">
    <div class="col-md-12 contractdiv">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle withripple" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                创建高级合约
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">X合约</a></li>
                <li><a href="#">Y合约</a></li>
                <li><a href="#">Z合约</a></li>
            </ul>
        </div>
    </div>
    <ul class="col-sm-12 contract">    
        <li>
            <span>AbcdY4PwNoNtWFsezzoTBS8int3ZVAttQd</span>
            <button class="btn withripple btn-success">导出</button>
            <a href="contract?id=1" class="btn withripple btn-info">详情</a>
            <button class="btn withripple btn-danger">删除</button>
        </li>
    </ul>
</div>
<a asp-controller="Accounts" asp-action="AccountList">转到账户管理</a>

<div class="help-block">
    合约是一段规定某一笔钱如何支付的脚本，A可以约定必须由收款人B和担保人C同时签名才能支配某笔比特币（担保交易），
    也可以约定B、C、D中任意两人签名就能支配（联名账户）；
    A可以约定B必须在一年后才能动用某笔比特币（延时支付），
    也可以约定任何人都能支配（撒钱）或者都不能支配（烧钱）。
    通过这套内置的脚本编程语言，你可以灵活地编写出各种各样的约定从而实现智能合约。
    <a href="javascript:">创建高级合约</a>
    <a class="x" href="javascript:" onclick="hide_note(this)" title="隐藏说明">x</a>
</div>