@{
    ViewData["Title"] = "小蚁客户端WEB";
    Layout = "_Layout";
}

<div id="page">
    <div class="content">
        <header>
            <a href="#menu" class="iconfont">&#xe60c;</a>
            小蚁-AntShares
        </header>
        <iframe name="frame_body" src="Wallet/Open">

        </iframe>
        <footer>
            高度：1021/65536 连接数：7
        </footer>
    </div>
    <nav id="menu" class="mm-theme-dark">
        <ul>
            <li>
                <span class="withripple"><i class="iconfont">&#xe602;</i>钱包</span>
                <ul>
                    <li class="withripple"><a target="frame_body" href="Wallet/Create">创建钱包</a></li>
                    <li class="withripple"><a target="frame_body" href="Wallet/Open">打开钱包</a></li>
                    <li class="withripple"><a target="frame_body" href="Wallet/ChangePassword">修改密码</a></li>
                </ul>
            </li>
            <li>
                <span class="withripple"><i class="iconfont">&#xe600;</i>个人中心</span>
                <ul>
                    <li class="withripple"><a target="frame_body" href="Accounts/AccountList">账户管理</a></li>
                    <li class="withripple"><a target="frame_body" href="Contracts/ContractList">合约管理</a></li>
                </ul>
            </li>
            <li>
                <span class="withripple"><i class="iconfont">&#xe604;</i>资产</span>
                <ul>
                    <li class="withripple"><a target="frame_body" href="Asset/MyAsset">我的资产</a></li>
                    <li class="withripple"><a target="frame_body" href="Asset/Transfer">资产转让</a></li>
                </ul>
            </li>
            <li>
                <span class="withripple"><i class="iconfont">&#xe600;</i>联系人</span>
                <ul>
                    <li class="withripple"><a target="frame_body" href="People/PeopleList">所有联系人</a></li>
                </ul>
            </li>
            <li>
                <span class="withripple"><i class="iconfont">&#xe609;</i>高级功能</span>
                <ul>
                    <li class="withripple"><a target="frame_body" href="Advanced/Sign">签名</a></li>
                    <li class="withripple"><a target="frame_body" href="Advanced/Regist">注册资产</a></li>
                    <li class="withripple"><a target="frame_body" href="Advanced/Issue">发行资产</a></li>
                    <li class="withripple"><a target="frame_body" href="#">开发人员工具</a></li>
                </ul>
            </li>
            <li>
                <span class="withripple"><i class="iconfont">&#xe60a;</i>小蚁区块链</span>
                <ul>
                    <li class="withripple"><a target="frame_body" href="#">区块查询</a></li>
                    <li class="withripple"><a target="frame_body" href="#">交易查询</a></li>
                    <li class="withripple"><a target="frame_body" href="#">地址查询</a></li>
                </ul>
            </li>
            <li>
                <span class="withripple"><i class="iconfont">&#xe601;</i>系统设置</span>
                <ul>
                    <li class="withripple"><a target="frame_body" href="#">常规设置</a></li>
                    <li class="withripple"><a target="frame_body" href="#">检查更新</a></li>
                </ul>
            </li>
            <li>
                <span class="withripple"><i class="iconfont">&#xe607;</i>帮助</span>
                <ul>
                    <li class="withripple"><a target="frame_body" href="javascript:">帮助</a></li>
                    <li class="withripple"><a target="_blank" href="https://www.antshares.com">官网</a></li>
                    <li class="withripple"><a target="frame_body" href="javascript:">关于</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>

@section scripts
{
    <script>
        //初始化侧边栏
        $(function ()
        {
            var slidingSubmenus = false;
            if (slidingSubmenus) {
                $(".my-title").remove();
            }
            $('nav#menu').mmenu({
                searchfield: true,
                counters: true,
                extensions: ["pagedim-black", "widescreen"],
                slidingSubmenus: slidingSubmenus,
                navbar: {
                    add: true,
                    title: "小蚁-AntShares"
                },
                navbars : [{
                    position: 'top'
                }, {
                    position: 'bottom',
                    content: ['<a class="withripple" target="blank" href="https://www.antshares.com">www.antshares.com</a>']
                }]
            });
        });
    </script>

}



