@{
    ViewData["Title"] = "MyAsset";
}
<style>
    .ant { padding: 0; }
    .ant li { margin-bottom: 10px; list-style: none; }
    .ant li .adr { background-color: #f0f0f0; border-radius: 4px; padding: 6px 10px; letter-spacing: 1px; width: 50%; word-break: break-all; vertical-align: middle; display: inline-block; }
    .value { line-height: 2; font-size: 16px; padding: 2px 10px; color: rgb(237, 28, 36); font-weight: bold; }
    .publisher { color: green; }
</style>

<h2 class="page-header">火星币</h2>
<div>
    发行人：<span class="publisher">火星银行</span>
</div>
<br />
<div>总资产<span class="value">5321.12</span></div>
<ul class="col-sm-12 ant">
    <li>
        <span class="adr"> AbcdXweW6trsVwcBSUYrK69u4cBhDg4ZJF </span>
        <span class="value">873.32</span>
    </li>
    <li>
        <span class="adr"> AbcdXweW6trsVwcBSUYrK69u4cBhDg4ZJF </span>
        <span class="value">400</span>
    </li>
    <li>
        <span class="adr"> ANTiGwJG34ifXREByGufja75DF3b8Hzcdm </span>
        <span class="value">4298.80</span>
    </li>

</ul>

<h2 class="page-header">天王币</h2>
<div>
    发行人：<span class="publisher">天王星银行</span>
</div>
<br />
<div>总资产<span class="value">1500</span></div>
<ul class="col-sm-12 ant">
    <li>
        <span class="adr"> AbcdXweW6trsVwcBSUYrK69u4cBhDg4ZJF </span>
        <span class="value">1000</span>
    </li>
    <li>
        <span class="adr"> ANTiGwJG34ifXREByGufja75DF3b8Hzcdm </span>
        <span class="value">500</span>
    </li>
</ul>

<a asp-action="MyAsset">返回我的资产</a>
